<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <div class="row">
      <div class="col-md-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-10">
        <app-navbar
          style="position: fixed; z-index: 10"
          class="col-md-10"
        ></app-navbar>
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
