<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <form
            class="row g-3 needs validation"
            [formGroup]="formLogin"
            (ngSubmit)="doLogin()"
          >
            <!-- Username input -->
            <label class="form-label" for="form3Example3">Username</label>
            <div class="form-outline mb-4">
              <input
                type="email"
                id="form3Example3"
                formControlName="username"
                name="username"
                class="form-control form-control-lg"
                placeholder="Enter username"
              />
              <ng-container
                *ngIf="
                  (errorControl['username'].dirty ||
                    errorControl['username'].touched) &&
                  errorControl['username'].errors
                "
              >
                <div *ngIf="errorControl['username'].errors['required']">
                  Please enter your username
                </div>
              </ng-container>
            </div>

            <!-- Password input -->
            <label class="form-label" for="form3Example4">Password</label>
            <div class="form-outline mb-3">
              <input
                type="password"
                id="form3Example4"
                formControlName="password"
                name="password"
                class="form-control form-control-lg"
                placeholder="Enter password"
              />
              <ng-container
                *ngIf="
                  (errorControl['password'].dirty ||
                    errorControl['password'].touched) &&
                  errorControl['password'].errors
                "
              >
                <div *ngIf="errorControl['password'].errors['required']">
                  Please enter your password
                </div>
              </ng-container>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form2Example3"
                />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="submit"
                [disabled]="!formLogin.valid"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Login
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Don't have an account?
                <a href="#!" class="link-danger">Register</a>
              </p>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</section>
