<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" [formGroup]="formRegister" (ngSubmit)="doRegister()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" formControlName="username" name="username" placeholder="username" [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''" id="form3Example1c" class="form-control"/>
                      <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                          <div class="text-danger" *ngIf="errorControl['username'].errors['required']">Input Your Username</div>
                      </ng-container>  
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" formControlName="email" name="email" placeholder="email" [ngClass]="errorControl['email'].valid ? 'is-valid' : (errorControl['email'].dirty || errorControl['email'].touched) ? 'is-invalid' : ''" id="form3Example1c" class="form-control" />
                      <ng-container *ngIf="(errorControl['email'].dirty || errorControl['email'].touched) && errorControl['email'].errors">
                          <div class="text-danger" *ngIf="errorControl['email'].errors['required']">Input Your Email</div>
                      </ng-container>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-key fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <input type="number" id="form3Example4cd" formControlName="noTelp" name="noTelp" placeholder="phone number" [ngClass]="errorControl['noTelp'].valid ? 'is-valid' : (errorControl['noTelp'].dirty || errorControl['noTelp'].touched) ? 'is-invalid' : ''" id="form3Example1c" class="form-control" />
                        <ng-container *ngIf="(errorControl['noTelp'].dirty || errorControl['noTelp'].touched) && errorControl['noTelp'].errors">
                          <div class="text-danger" *ngIf="errorControl['noTelp'].errors['required']">Input Your Phone Number</div>
                      </ng-container>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-key fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example4cd" formControlName="role" name="role" placeholder="role" [ngClass]="errorControl['role'].valid ? 'is-valid' : (errorControl['role'].dirty || errorControl['role'].touched) ? 'is-invalid' : ''" id="form3Example1c" class="form-control" />
                        <ng-container *ngIf="(errorControl['role'].dirty || errorControl['role'].touched) && errorControl['role'].errors">
                          <div class="text-danger" *ngIf="errorControl['role'].errors['required']">Role</div>
                      </ng-container>
                      </div>
                    </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" formControlName="password" name="password" placeholder="password" [ngClass]="errorControl['password'].valid ? 'is-valid' : (errorControl['password'].dirty || errorControl['password'].touched) ? 'is-invalid' : ''" id="form3Example1c" class="form-control" />
                      <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                          <div class="text-danger" *ngIf="errorControl['password'].errors['required']">Input Your Password</div>
                      </ng-container>
                    </div>
                  </div>

                  <!-- <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div> -->

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" >Register</button>
                  </div>

                  <p>Have an Account Already?  <a routerLink="../login">Sign In</a></p>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>