<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->

    <!-- Custom styles for this page -->
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <div class="row">
            <!-- <div class="col-md-2">
              <app-sidebar></app-sidebar>
            </div> -->
            <div class="col-md-10">
              <app-navbar
                style="position: fixed; z-index: 10"
                class="col-md-10"
              ></app-navbar>

              <!-- Begin Page Content -->
              <div class="container-fluid" style="margin-top: 10vh">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                <!-- <p class="mb-4">
                  DataTables is a third party plugin that is used to generate
                  the demo table below. For more information about DataTables,
                  please visit the
                  <a target="_blank" href="https://datatables.net"
                    >official DataTables documentation</a
                  >.
                </p> -->

                <!-- DataTables Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Users Table
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <button
                        style="margin-right: 8px; margin-bottom: 12px"
                        type="button"
                        class="btn btn-primary"
                        (click)="openModal(template)"
                      >
                        Add Users
                      </button>

                      <ng-template #template>
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">Add User</h4>
                          <button
                            type="button"
                            class="btn-close close pull-right"
                            aria-label="Close"
                            (click)="modalRef?.hide()"
                          >
                            <span aria-hidden="true" class="visually-hidden"
                              >&times;</span
                            >
                          </button>
                        </div>
                        <div class="modal-body">
                          <form
                            [formGroup]="formAdd"
                            (ngSubmit)="doAddUser()"
                            class="row g-3"
                          >
                            <!-- <div class="col-md-12">
                              <label for="inputFullname" class="form-label"
                                >Full Name</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputFullname"
                                formControlName="fullname"
                                name="fullname"
                                [ngClass]="
                                  errorControl['fullname'].valid
                                    ? 'is-valid'
                                    : errorControl['fullname'].dirty ||
                                      errorControl['fullname'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['fullname'].dirty ||
                                    errorControl['fullname'].touched) &&
                                  errorControl['fullname'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="
                                    errorControl['fullname'].errors['required']
                                  "
                                >
                                  Please enter your full name.
                                </div>
                              </ng-container>
                            </div> -->
                            <div class="col-md-12">
                              <label for="inputUsername" class="form-label"
                                >Username</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputUsername"
                                formControlName="username"
                                name="username"
                                [ngClass]="
                                  errorControl['username'].valid
                                    ? 'is-valid'
                                    : errorControl['username'].dirty ||
                                      errorControl['username'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['username'].dirty ||
                                    errorControl['username'].touched) &&
                                  errorControl['username'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="
                                    errorControl['username'].errors['required']
                                  "
                                >
                                  Please enter your username.
                                </div>
                              </ng-container>
                            </div>

                            <div class="col-md-12">
                              <label for="inputnoTelp" class="form-label"
                                >Phone Number</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                id="inputnoTelp"
                                formControlName="noTelp"
                                name="noTelp"
                                [ngClass]="
                                  errorControl['noTelp'].valid
                                    ? 'is-valid'
                                    : errorControl['noTelp'].dirty ||
                                      errorControl['noTelp'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['noTelp'].dirty ||
                                    errorControl['noTelp'].touched) &&
                                  errorControl['noTelp'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="
                                    errorControl['noTelp'].errors['required']
                                  "
                                >
                                  Please enter your phone number.
                                </div>
                              </ng-container>
                            </div>
                            
                            <div class="col-md-6">
                              <label for="inputEmail" class="form-label"
                                >Email</label
                              >
                              <input
                                type="email"
                                class="form-control"
                                id="inputEmail"
                                formControlName="email"
                                name="email"
                                [ngClass]="
                                  errorControl['email'].valid
                                    ? 'is-valid'
                                    : errorControl['email'].dirty ||
                                      errorControl['email'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['email'].dirty ||
                                    errorControl['email'].touched) &&
                                  errorControl['email'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="
                                    errorControl['email'].errors['required']
                                  "
                                >
                                  Please enter your email.
                                </div>
                              </ng-container>
                            </div>
                            <div class="col-md-6">
                              <label for="inputPassword" class="form-label"
                                >Password</label
                              >
                              <input
                                type="password"
                                class="form-control"
                                id="inputPassword"
                                formControlName="password"
                                name="password"
                                [ngClass]="
                                  errorControl['password'].valid
                                    ? 'is-valid'
                                    : errorControl['password'].dirty ||
                                      errorControl['password'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['password'].dirty ||
                                    errorControl['password'].touched) &&
                                  errorControl['password'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="
                                    errorControl['password'].errors['required']
                                  "
                                >
                                  Please enter your password.
                                </div>
                              </ng-container>
                            </div>
                          
                            <div class="col-12">
                              <label for="inputRole" class="form-label"
                                >Role</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputRole"
                                formControlName="role"
                                name="role"
                                [ngClass]="
                                  errorControl['role'].valid
                                    ? 'is-valid'
                                    : errorControl['role'].dirty ||
                                      errorControl['role'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['role'].dirty ||
                                    errorControl['role'].touched) &&
                                  errorControl['role'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="
                                    errorControl['role'].errors['required']
                                  "
                                >
                                  Please enter your role.
                                </div>
                              </ng-container>
                            </div>

                            <div class="col-md-12">
                              <label for="inputFile" class="form-label"
                                >Upload Image</label
                              >
                              <input
                                type="file"
                                accept="image/png, image/jpeg, image/gif"
                                class="form-control"
                                id="inputFile"
                                (change)="showPreview($event)"
                                formControlName="image"
                                name="image"
                                [ngClass]="
                                  errorControl['image'].valid
                                    ? 'is-valid'
                                    : errorControl['image'].dirty ||
                                      errorControl['image'].touched
                                    ? 'is-invalid'
                                    : ''
                                "
                              />
                              <ng-container
                                *ngIf="
                                  (errorControl['image'].dirty ||
                                    errorControl['image'].touched) &&
                                  errorControl['image'].errors
                                "
                              >
                                <div
                                  class="text-danger"
                                  *ngIf="
                                    errorControl['image'].errors['required']
                                  "
                                >
                                  Please enter your image.
                                </div>
                              </ng-container>
                              <ng-container *ngIf="image">
                                <img
                                  src="{{ image }}"
                                  alt=""
                                  width="200"
                                  height="200"
                                />
                              </ng-container>
                            </div>

                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                (click)="modalRef?.hide()"
                              >
                                Close
                              </button>

                              <button
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="!formAdd.valid"
                                data-bs-dismiss="modal"
                                (click)="modalRef?.hide()"
                              >
                                Submit
                              </button>
                            </div>
                          </form>
                        </div>
                      </ng-template>

                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                            <th>Image</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let usr of user">
                            <td scope="row">{{ usr.username }}</td>
                            <td>{{ usr.email }}</td>
                            <td>{{ usr.noTelp }}</td>
                            <td>{{ usr.role }}</td>
                            <td><a href="#"
                              ><img
                                [src]="usr.image"
                                alt=""
                                width="180"
                                height="120"
                            /></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container-fluid -->
            </div>
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
